<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="tests" thread-count="2">
  <test  name="Test1">
  <parameter name="browserName" value="firefox"/>
    <classes>
      <class name="com.subash.testing.TestLogin"/>
    </classes>
  </test> <!-- Test1 -->
  
  <test  name="Test2">
  <parameter name="browserName" value="chrome"/>
    <classes>
      <class name="com.subash.testing.TestLogin"/>
    </classes>
  </test>
</suite> <!-- Suite1 -->
