<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite2">
  <test thread-count="2" name="Test2" parallel="methods">
    <classes>
      <class name="com.subash.testing.parallel_testing"/>
    </classes>
  </test> <!-- Test2 -->
</suite> <!-- Suite2 -->
